:root {
    font-family: 'Alice', serif;
    line-height: 150%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/bg.png);
    background-size: cover;
}

#page {
    background-color: #F0E8C2;
    border-radius: 24px;
    width: 800px;
    margin: 48px auto;
    padding: 24px;
}

main {
    padding: 24px;
}

section + section {
    margin-top: 24px;
}

#about p + p {
    margin-top: 12px;
}

img {
    border-radius: 16px;
}

h1 {
    font-size: 40px;
    line-height: 150%;
}

h2 {
    font-size: 24px;
}

h1,  h2 {
    color: #291B1A;
    margin-bottom: 4px;
    line-height: 150%;
}

ul {
    padding-left: 24px;
}

p {
    color: #573A37;
}